/node_modules
/public/hot
/public/storage
/storage
/storage/*.key
/public/.htaccess222
/public/press
/public/news
/public/press2
/public/wp-content
/public/wp-includes
/public/2017
/public/.well-known
/public/wp-includes
/public/cgi-bin
/public/old
public/study
/public/uploads
/public/uploads1
/public/storage
/public/IEREK-Publisher-Service
/storage/app
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.htaccess
.composer.phar
app.zip
/nbproject/
/public/photos/
error_log
/etc/
app/Http/Middleware/ForceSSL.php
